<div>
    
    <%= console %>
    <h1>Solid Lite Queen</h1>


    <div>
    <p>Found <%= pluralize(@databases.count, "SQLite database") %></p>
    </div>

    <ul>
        <% @databases.each do |db| %>
         <li>
            <p><%= db.env_name %> - <%= db.name %></p>
            <p><%= db.database %></p>
            <a href="<%= database_path(Base64.urlsafe_encode64(db.database)) %>">Open</a>
         </li>
        <% end %>
    </ul>

</div>