<div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold text-gray-900 mb-6 flex gap-1 items-center justify-center">
        <%= image_tag "solid_litequeen/icons/database.svg", class: "size-6" %>
        <span>
            <%= @database_location %>
        </span>
    </h1>

    <div class="mb-6">
        <h2 class="text-xl font-semibold text-gray-800">
            <span>
                Tables
            </span>
            <% if @table_relations[:tables].any? %>

                <%= render "table-relationships-dialog" %>

                <button title="Relationships" onclick="table_relationships.showModal()" class="hover:cursor-pointer outline-none">
                    <%= image_tag "solid_litequeen/icons/workflow.svg", class: "size-5 -mb-1" %>
                </button>

            <% end %>
        </h2>
        <p class="text-gray-600"><%= pluralize(@tables.count, "table") %> found</p>
    </div>

    <div class="bg-white rounded-lg shadow overflow-hidden">
        <table class="w-full">
            <thead>
                <tr class="bg-gray-100 border-b border-gray-200">
                    <th class="px-6 py-3 text-left text-sm font-medium text-gray-700">Table Name</th>
                    <th class="px-6 py-3 text-left text-sm font-medium text-gray-700">Row Count</th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
                <% @tables.each do |table| %>
                    <tr class="hover:bg-gray-50">
                        <td class="px-6 py-4">
                            <%= link_to database_table_rows_path(@database_id, table[:name]), class: "text-blue-600 hover:text-blue-800 font-medium" do %>
                                <%= table.dig(:name) %>
                            <% end %>
                        </td>
                        <td class="px-6 py-4 text-gray-600">
                            <%= pluralize(table.dig(:row_count), "Row") %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    <%= link_to "Download Database", database_download_path(@database_id), class: "btn btn-primary text-xs mt-4" %>
</div>