<div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold text-gray-900 mb-6 flex gap-1 items-center justify-center">
        <%= link_to database_path(params[:database_id])  do %>
            <%= image_tag "solid_litequeen/icons/database.svg", class: "size-6" %>
        <% end %>

        <%= image_tag "solid_litequeen/icons/chevron-right.svg", class: "size-6" %>

        <span>
            <%= @table_name %>
        </span>
    </h1>

    <div class="mb-6">
        <p class="text-gray-600"><%= pluralize(@row_count, "row") %> found</p>
    </div>

    <div class="bg-white rounded-lg shadow overflow-x-auto">
        <div class="min-w-full inline-block align-middle">
            <table 
                data-controller="table" 
                data-database_table_path="<%= database_table_rows_path %>"
                data-set-table-order-path="<%= database_set_table_column_order_path(params[:database_id], @table_name) %>" 
                class="min-w-full relative"
                >
                <thead class="">
                    <tr class="bg-gray-100 border-b border-gray-200">
                        <% @data.columns.each_with_index do |column, index| %>
                            <th 
                                draggable="true" 
                                data-column-index="<%= index %>"
                                data-column-name="<%= column %>"
                                class="hover:cursor-move px-6 py-3 text-left text-sm font-medium text-gray-700 whitespace-nowrap data-[is-dragging]:bg-orange-300/30 data-[column-order-about-to-be-swapped]:bg-green-300/30"
                            >

                                <%# popover the the column info %>
                                <% popover_id = "popover_#{column}_#{SecureRandom.hex(8)}" %>

                                <button popovertarget="<%= popover_id %>" class="mr-1 p-1 hover:cursor-pointer" style="anchor-name: --anchor_<%= popover_id %>;">
                                           <%= image_tag "solid_litequeen/icons/info.svg", class: "size-3.5" %>
                                </button>
                                
                                <div popover id="<%= popover_id %>"  class="max-w-lg min-h-10 bg-gray-100 border-gray-400 border p-4 rounded-md" style="position-anchor: --anchor_<%= popover_id%>;  top: anchor(--anchor_<%= popover_id%> bottom);  left: anchor(--anchor_<%= popover_id%> right);">
                                    <table class="min-w-full divide-y divide-gray-200 border border-gray-200">
                                      
                                        <tbody class="bg-white divide-y divide-gray-200">
                                            <% column_info = @columns_info[column]  %>
                                           
                                            <tr>
                                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 font-semibold">Type</td>
                                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 "><%= column_info&.dig(:sql_type) %></td>
                                            </tr>

                                            <tr>
                                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 font-semibold">Primary Key</td>
                                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 "><%= column_info&.dig(:is_primary_key) %></td>
                                            </tr>

                                            <tr>
                                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 font-semibold">Nullable</td>
                                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 "><%= column_info&.dig(:null) %></td>
                                            </tr>

                                            <tr>
                                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 font-semibold">Default</td>
                                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 "><%= column_info&.dig(:default) %></td>
                                            </tr>

                                            <% if column_info&.dig(:foreign_key).present? %>
                                              
                                                <tr>
                                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 font-semibold"></td>
                                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 "> </td>
                                                </tr>

                                                <tr>
                                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 font-semibold">Foreign Key</td>
                                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                                                        <%= column_info&.dig(:foreign_key).dig(:to_table) %>
                                                        &gt;
                                                        <%= column_info&.dig(:foreign_key).dig(:primary_key) %>
                                                    </td>
                                                </tr> 

                                                <tr>
                                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 font-semibold">ON_UPDATE</td>
                                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800"><%= column_info&.dig(:foreign_key).dig(:on_update) %></td>
                                                </tr>  
                                                
                                                <tr>
                                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 font-semibold">ON_DELETE</td>
                                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800"><%= column_info&.dig(:foreign_key).dig(:on_delete) %></td>
                                                </tr>

                                            <% end %>  
                                            
                                            <% if column_info&.dig(:indexes).present? %>
                                              
                                                <tr>
                                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 font-semibold"></td>
                                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 "> </td>
                                                </tr>

                                                <% column_info&.dig(:indexes).each do |index| %>
                                                    <tr>
                                                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 font-semibold">Index Name</td>
                                                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                                                            <%= index[:name] %>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 font-semibold">Unique</td>
                                                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                                                            <%= index[:unique] %>
                                                        </td>
                                                    </tr>
                                                <% end %>

                                              
                                            <% end %>


                                              
                                        </tbody>
                                    </table>                                    
                                </div>
                                
                                <%# link to sort the columns %>
                                <%= link_to column, 
                                    database_table_rows_path(
                                        database_id: @database_id,
                                        table: @table_name,
                                        sort_column: column,
                                        sort_direction: (@sort_column == column && @sort_direction == 'DESC') ? 'ASC' : 'DESC'
                                    ), class: "" %>
                                <%= '▼' if @sort_column == column && @sort_direction == 'DESC' %>
                                <%= '▲' if @sort_column == column && @sort_direction == 'ASC' %>
                            </th>
                        <% end %>
                    </tr>
                </thead>
                
                <tbody class="divide-y divide-gray-200">
                    <% @data.rows.each do |row| %>
                        <tr class="hover:bg-gray-50" >
                            <% row.each_with_index do |item, index| %>
                                <% truncated_item =  item&.truncate(80) %>
                                <% column_name = @data.columns[index] %>
                                <% foreign_key = @columns_info[column_name]&.dig(:foreign_key) %>
                                <td 
                                    data-column="<%= column_name %>" 
                                    data-data_type="<%= @columns_info.dig(column_name).dig(:type) %>"
                                    class="px-6 py-4 text-sm text-gray-800 whitespace-nowrap" 
                                >

                                    <div class="flex justify-between gap-1">

                                        <span data-column_item><%= truncated_item %></span>
                                        
                                        <% if item.present? and foreign_key.present? %>
                                            <button 
                                                data-action="click->table#load_foreign_key_data"
                                                data-fk_target_table="<%= foreign_key[:to_table] %>" 
                                                data-fk_target_field="<%=  foreign_key[:primary_key]%>" 
                                                data-fk_target_field_value="<%=  truncated_item %>" 
                                                class="size-4 mt-0.5 hover:cursor-pointer flex-grow outline-none"
                                                >
                                                <%= image_tag "solid_litequeen/icons/spline.svg", class: "size-4 filter-blue" %>
                                            </button>
                                          
                                        <% end %>


                                        <%# TODO: we can use one dynamic modal instead and fetch the data. for now this works and is (s)crapy! %>
                                        <% if truncated_item&.to_s&.ends_with?("...") %>
                                            <% dialog_id = "#{column_name}_#{SecureRandom.hex(8)}_context_dialog"  %>

                                            <%= render "table-data-context-dialog", dialog_id: dialog_id, column_name: column_name, data: item %>

                                            <button onclick="document.getElementById('<%= dialog_id %>').showModal()" class="cursor-pointer size-4 outline-none">
                                                <%= image_tag "solid_litequeen/icons/circle-elipsis.svg", class: "size-4" %>
                                                
                                            </button>

                                         
                                        <% end %>

                                        
                                    </div>
                                </td>
                            <% end %>
                        </tr>
                    <% end %>
                </tbody>

                <dialog id="foreign-key-data"  data-controller="dialog" class="w-[900px] m-auto overscroll-y-contain">
                        <div class="flex flex-row-reverse">
                            <form method="submit">
                                <button formmethod="dialog" class="cursor-pointer mr-4 mt-2 outline-none"> 
                                    <%= image_tag "solid_litequeen/icons/x.svg", class: "size-5" %>
                                </button>
                            </form>
                        </div>

                    <div class="overflow-x-auto relative">
                        <turbo-frame id="foreign-key-data-frame" class="peer">
                            <%# loading animation for the first render %>
                            <div class="flex w-full h-52  items-center justify-center">
                                <%= render "solid_litequeen/loading-animation" %>
                            </div>

                        </turbo-frame>

                        <%# loading animation everytime we load a new foreign key data %>
                        <div class="hidden peer-aria-busy:flex absolute inset-0 w-full h-52  items-center justify-center">
                            <%= render "solid_litequeen/loading-animation" %>
                        </div>

                    </div>
                </dialog>
            </table>
           
      
        </div>
    </div>
</div>