<!DOCTYPE html>
<html>
<head>
  <title>Solid litequeen</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>


  <%= stylesheet_link_tag "solid_litequeen/application", media: "all" %>
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  <style type="text/tailwindcss">

   
    @theme {
      --color-clifford: #da373d;
    }
  </style>
    
   <%= javascript_importmap_tags %>
    <!--
      NOTE: To add engine's javascript functionality we have to load the
            entrypoint here or `import` it in the main app `application.js`
    -->
  <%= javascript_import_module_tag "solid_litequeen/application" %>

  <%= yield :head %>
</head>
<body class="">


<%= yield %>

</body>
</html>
