<!DOCTYPE html>
<html>
<head>
  <title>Solid litequeen</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="turbo-refresh-method" content="morph">
  <meta name="turbo-refresh-scroll" content="preserve">
  <meta name="view-transition" content="same-origin">

  <%= stylesheet_link_tag "solid_litequeen/application", media: "all", "data-turbo-track": "reload" %>
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  <script src="https://cdn.jsdelivr.net/npm/@joint/core@4.0.1/dist/joint.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dagre/0.8.5/dagre.min.js"></script>
  <style type="text/tailwindcss">
    @plugins "form";

    :root{
      color-scheme: light dark;
    }
   
    @theme {
      --color-clifford: #da373d;
    }

    @utility filter-blue{
      filter: invert(32%) sepia(65%) saturate(6380%) hue-rotate(219deg) brightness(98%) contrast(102%);
    }


    /* popover fix for safari */
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      /* Safari-only CSS here */
      _::-webkit-full-page-media, _:future, :root div[popover] {
        position: fixed !important;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
        margin: 0 !important;
        max-width: 90vw;
        z-index: 1000;
      }
    }
    
  </style>


  <%= javascript_importmap_tags "application", importmap: SolidLitequeen.importmap  %>

  <%= yield :head %>
</head>
<body class="">
  <header class="container mx-auto mt-4 mb-8">
    <%= render "solid_litequeen/database-selector" %>
  </header>
  <%= yield %>

</body>
</html>
