<!DOCTYPE html>
<html>
<head>
  <title>Solid litequeen</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>


  <%= stylesheet_link_tag "solid_litequeen/application", media: "all", "data-turbo-track": "reload" %>
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  <style type="text/tailwindcss">

   
    @theme {
      --color-clifford: #da373d;
    }
  </style>


  <%= javascript_importmap_tags "application", importmap: SolidLitequeen.importmap  %>

  <%= yield :head %>
</head>
<body class="">
  <header>
    <%= render "solid_litequeen/database-selector" %>
  </header>
  <%= yield %>

</body>
</html>
