<!DOCTYPE html>

<html class="text-base-content bg-base-100">
  <head>
    <title>Solid litequeen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="turbo-refresh-method" content="morph">
    <meta name="turbo-refresh-scroll" content="preserve">
    <meta name="view-transition" content="same-origin">

    <%= stylesheet_link_tag "solid_litequeen/tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "solid_litequeen/application", media: "all", "data-turbo-track": "reload" %>

    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5"
      rel="stylesheet"
      type="text/css"
    >

    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css"
      rel="stylesheet"
      type="text/css"
    >

    <%= javascript_include_tag "solid_litequeen/vendor/joint", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "solid_litequeen/vendor/dagre.min", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "solid_litequeen/vendor/floating-ui-core", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "solid_litequeen/vendor/floating-ui-dom", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags "application", importmap: SolidLitequeen.importmap %>

    <%= yield :head %>
  </head>

  <script>
  const setTheme = () => {
    const storedTheme = localStorage.getItem('theme');
    const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
    document.documentElement.setAttribute('data-theme', storedTheme || (prefersDark ? 'sunset' : 'light'));
  };
  setTheme();
  window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', setTheme);
</script>

  <body class="">
    <header class="container flex items-center justify-between mx-auto mt-4 mb-8">
      <%= render "solid_litequeen/database-selector" %>

      <%= render "solid_litequeen/command-palette" %>
    </header>

    <%= yield %>

    <footer class="container mx-auto mt-8 mb-4 text-center text-base-content/60 text-xs">
      <p>Solid litequeen v<%= SolidLitequeen::VERSION %></p>
    </footer>
  </body>
</html>
