
<% if controller.controller_name == "databases" && action_name.in?([ "show", "table_rows"]) %>  
    <div class="w-86">
        <div class="database-selector p-4">
            <select id="database-select" class="select block w-52 focus:outline-none outline-none ring-0">
                <option value="">Select a database...</option>
                <% available_databases.each do |db| %>
                <option value="<%= Base64.urlsafe_encode64(db.database) %>" <%= 'selected' if defined?(@database_id) && @database_id == Base64.urlsafe_encode64(db.database) %>>
                    <%= db.database %>
                </option>
                <% end %>
            </select>
            
            <script>
                document.getElementById('database-select').addEventListener('change', function() {
                   if(!this.value){
                         Turbo.visit('<%= URI(database_path("")).path %>');
                         return
                    }
                   
                    Turbo.visit('<%= URI(database_path("")).path %>' + this.value);
                    
                });
            </script>
        </div>

    </div>
<% end %>

